 .u-section-1 {
  background-image: linear-gradient(black, #77aad9);
  min-height: 1042px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1042px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 23px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 72px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 72px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 72px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 72px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 72px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 72px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1042px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  margin: 61px auto 0;
}

.u-section-1 .u-line-1 {
  width: 852px;
  transform-origin: right center 0px;
  margin: 31px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 852px;
  margin: 28px auto 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-6 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-7 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-8 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0);
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 861px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 859px;
  }

  .u-section-1 .u-line-1 {
    width: 752px;
  }

  .u-section-1 .u-accordion-1 {
    width: 752px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 662px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 576px;
  }

  .u-section-1 .u-accordion-1 {
    width: 576px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2558px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1651px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}