/* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    border: none;
}

.main-login{
    width: 100%;
    height: 100vh;
    background-color: #041027;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left-login{
    width: 50%;
    background-color:#041027;/*#112140  #1c3056d3  #5e79ff35*/
}

.left-login-image{
    width: 35vw;
    margin-left: 150px;
}

textarea:focus, input:focus {
    outline: none;   /*tira a bordinha azul da caixa ao clicar nela*/
}

 a:hover{
    color:  #5E78FF !important;
}

.login-container-image{

    width: 4vw;
}
#login-container {
    background-color:#112140 ;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 5vh;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #5E78FF;  /*5E78FF*/
}

#login-container h1{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-top: 2px;
}

/*formulario*/

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label,input {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

label {
    font-weight: bold;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

input {
    border-radius: 5px;
    border-bottom: 1px solid #060404;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: white;
}

input:focus{
    border-bottom: 2px solid #5E78FF;
}

#forgot-pass {
    text-align: right;
    display: block;
    margin: 10px;
    color: white;
}

input[type="button"] {
    text-align: center;
    text-transform: uppercase; /* deixa maiusculo*/
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #5E78FF;
    color: white;
    cursor:pointer;  /*maozinha*/
}

input[type="button"]:hover {
    background-color: rgb(9, 9, 89);
    transition: 0.2s;
}

#register-container {
    margin-bottom: 10px;
}
#register-container p{
    color: white;
}
#create-account {
   color: white;
}


@media screen and (max-width:999px){
    .left-login-image{
    display: none;
    }
}

